<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Fav and touch icons -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="http://demo.tanimdesign.net/template/tshop-v1.2/html/ico/apple-touch-icon-57-precomposed.png">
		<link rel="shortcut icon" href="assets/ico/favicon.png">
		<title>TSHOP - Bootstrap E-Commerce Parallax Theme </title>
		<!-- Bootstrap core CSS -->
		<link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet">
		<!-- add theme styles for this template -->
		<link id="pagestyle" rel="stylesheet" type="text/css" href="assets/css/skin-1.css">
		<!-- Custom styles for this template -->

		<!-- css3 animation effect for this template -->
		<link href="assets/css/animate.min.css" rel="stylesheet">
		<!-- styles needed by mCustomScrollbar -->
		<link href="assets/css/jquery.mCustomScrollbar.css" rel="stylesheet">
		<link href="assets/css/howto.css" rel="stylesheet">
		<!-- Just for debugging purposes. -->
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->  
		<!-- include pace script for automatic web page progress bar  -->
		<script>
			paceOptions = {
			  elements: true
			};
		</script>
		<script src="assets/js/pace.min.js"></script>
		
	<body>
		<!-- Modal Login start -->
		<%= render 'layouts/login' %>
		</div>
		<!-- /.Modal Login --> 
		<!-- Modal Signup start -->
		<%= render 'layouts/signup' %>
			<!-- /.modal-dialog --> 
		</div>
		
		<!-- Fixed navbar start -->
	<%= render 'layouts/nav' %>
		<!-- /.Fixed navbar  -->
		<link href='http://fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
		<div class="headerOffset-Top-19">
		<section style="background:#F5F5F5;">
			<div class="container messy">
				<div class="row">
					<br>
					<h3 class="boxes-title-1"><span>Our Authenticity Policy</span></h3>
					<div class="container">
						<div class="row">
                            <div class="entry-content">




<strong>Authenticity</strong>
                                
                                
<p>All for Funds guarantees that all items are 100% authentic; we do not sell fakes or counterfeits.  We have a zero tolerance policy when it comes to fakes or counterfeits, and do not accept items from consignors that are not authentic.</p>

<p>All for Funds represents each item to the best of our ability, and note any flaws or imperfections.</p>

<p>Please call All for Funds for details, at 720-708-4907.</p>




			</div>
                            </div>
					</div>
				</div>
			</div>
		</section>
   
<%= render 'layouts/contact' %>
    
    <%= render 'layouts/footer' %>
		



	</body>
</html>