<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="http://demo.tanimdesign.net/template/tshop-v1.2/html/ico/apple-touch-icon-57-precomposed.png">

<link rel="shortcut icon" href="/assets/ico/favicon.png">
<title>All For Funds - Designer Items for Less</title>
<!-- Bootstrap core CSS -->
<link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- add theme styles for this template -->
<link id="pagestyle" rel="stylesheet" type="text/css" href="/assets/css/skin-1.css">

<!-- Custom styles for this template -->
<link href="/assets/css/style.css" rel="stylesheet">

<!-- css3 animation effect for this template -->
<link href="/assets/css/animate.min.css" rel="stylesheet">

<!-- styles needed by carousel slider -->
<link href="/assets/css/owl.carousel.css" rel="stylesheet">
<link href="/assets/css/owl.theme.css" rel="stylesheet">

<!-- styles needed by checkRadio -->
<link href="/assets/css/ion.checkRadio.css" rel="stylesheet">
<link href="/assets/css/ion.checkRadio.cloudy.css" rel="stylesheet">

<!-- styles needed by mCustomScrollbar -->
<link href="/assets/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
   
    
    <!-- styles needed by swiper slider -->
<link href="/assets/css/idangerous.swiper.css" rel="stylesheet">
    
    



<!-- Just for debugging purposes. -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->  

<!-- include pace script for automatic web page progress bar  -->

 <script>
    paceOptions = {
      elements: true
    };
</script>

<script src="/assets/js/pace.min.js"></script>
  </head>
		
	<body>
		<!-- Modal Login start -->
		<%= render 'layouts/login' %>
		</div>
		<!-- /.Modal Login --> 
		<!-- Modal Signup start -->
		<%= render 'layouts/signup' %>
			<!-- /.modal-dialog --> 
		</div>
		
		<!-- Fixed navbar start -->
	<%= render 'layouts/nav' %>
		<!-- /.Fixed navbar  -->
    



<div class="wrapper whitebg">
  <div class="container main-container ">
    <div class="row innerPage">
      <div class="col-lg-12 col-md-12 col-sm-12">
        
        <div class="row userInfo">
          
          <div class="col-xs-12 col-sm-12">
            
            <h1 class="title-big text-center section-title-style2">
              <span> Contact us </span>
            </h1>
            
            <p class="lead text-center">
              We are available Monday though Friday from 8AM to 5PM MST.
            </p>
            
            <hr>
            
            <div class="row">
            
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                
                <h3 class="block-title-5">
                  Customer care 
                </h3>
                
                <p>
                  Please contact us with any questions or concerns
                  
                  <br>
                  <strong>
                    Phone number
                  </strong>
                  : 	720-708-4907
                  <br>
                  <strong>
                    Email us
                  </strong>
                  : 	info@allforfunds.com
                </p>

                
              </div>
              
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                
                <h3 class="block-title-5">
                  FAQ 
                </h3>
            
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          What are the shipping charges?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>All  shipping is free to anywhere in the US, while international is a flat rate of $35.</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Which payment methods are accepted?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <p>We accept:
Visa
PayPal
MasterCard
American Express</p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          What happens after I place my order? 
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       <p> You will receive an email confirming your order and payment.  Your order will be processed within one business day.  Items are shipped via USPS First Class Mail and USPS Priority Mail.  Items shipped in the US generally arrive within 2 to 6 days.  Items shipped internationally generally arrive within 2 to 4 weeks.</p>
      </div>
    </div>
  </div>
                    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          How secure is shopping on the site?
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
          <p>Our site is secured with 128bit encryption - the highest possible industry standard. <a href="http://stripe.com">Stripe.com</a> is the leading payment processor and they provide the highest level of security regarding your credit card information.</p>
        <p>We strive to provide a safe and secure shopping experience.  Our privacy policy can be found <a href="/privacy">here</a>.</p>
      </div>
    </div>
  </div>
                    
               
                    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFive">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          How do returns work?
        </a>
      </h4>
    </div>
    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="panel-body">
          <p>Generally, we accept returns within 15 days.</p>
        <p>Our full return policy outlining the steps to return an item, can be found <a href="/returns">here</a>.</p>
      </div>
    </div>
  </div>
                    
                    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingSix">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          What if I have a question about my order?
        </a>
      </h4>
    </div>
    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="panel-body">
          <p>Please fill out the form below or send an email to Info@AllForFunds.com, and we will be in touch as soon as possible.</p>
      </div>
    </div>
  </div>
          

                    
</div>
    </div>
                
                
              </div>
              
            
              
              
            </div><!--/.row-->
   		</div>
          
          
          
          
          
          
        </div> <!--/.row  ||  -->
        
      </div>
        <br>
        <%= render 'layouts/contact' %>
    
    <%= render 'layouts/footer' %>
		

</body>
</html>

