<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="http://demo.tanimdesign.net/template/tshop-v1.2/html/ico/apple-touch-icon-57-precomposed.png">

  <link rel="shortcut icon" href="/assets/ico/favicon.png">
  <title>All For Funds - Designer Items for Less</title>
  <!-- Bootstrap core CSS -->
  <link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
  <!-- add theme styles for this template -->
  <link id="pagestyle" rel="stylesheet" type="text/css" href="/assets/css/skin-1.css">

  <!-- Custom styles for this template -->
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- css3 animation effect for this template -->
  <link href="/assets/css/animate.min.css" rel="stylesheet">

  <!-- styles needed by carousel slider -->
  <link href="/assets/css/owl.carousel.css" rel="stylesheet">
  <link href="/assets/css/owl.theme.css" rel="stylesheet">

  <!-- styles needed by checkRadio -->
  <link href="/assets/css/ion.checkRadio.css" rel="stylesheet">
  <link href="/assets/css/ion.checkRadio.cloudy.css" rel="stylesheet">

  <!-- styles needed by mCustomScrollbar -->
  <link href="/assets/css/jquery.mCustomScrollbar.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>


  <!-- styles needed by swiper slider -->
  <link href="/assets/css/idangerous.swiper.css" rel="stylesheet">


  <!-- Just for debugging purposes. -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->

  <!-- include pace script for automatic web page progress bar  -->

  <script>
      paceOptions = {
          elements: true
      };
  </script>

  <script src="/assets/js/pace.min.js"></script>
</head>

<body class="header-version-2">

<%= render 'layouts/nav' %>

<!-- Modal Login start -->
<%= render 'layouts/login' %>

<%= render 'layouts/signup' %>

<!-- /.Fixed navbar  -->
<!-- Here from shop by price block -->


<div class="col-lg-12 text-center" style="background-color: #c9c6b5;">
  <div class="home-intro">
    <h2>Discover a Better Shopping <span>Experience</span> - clothes, fashion &amp; more </h2>
  </div>
  <br>
</div>

<div class="slider-container">
  <!-- Main component call to action -->
  <div class="image-show-case-wrapper center-block relative col-lg-12" style="background-color: #c9c6b5;">
    <div id="imageShowCase" class="owl-carousel owl-theme">
      <div class="product-slide">
        <div class="box-content-overly box-content-overly-white">
          <div class="box-text-table">
            <div class="box-text-cell">
              <div class="box-text-cell-inner">
                <!--    <div style="background: rgba(255, 255, 255, 0.7);">
                 <h1 style="color: #111; padding-top: 2%;">Up to 50% off retail </h1>
                       </div> -->
                <form method="post" action="/shop">
                  <input type="hidden" name="category" value="Clothing, Shoes & Accessories:Women\'s Clothing">


                  <a class="btn btn-stroke-light" onclick="this.parentNode.submit();"
                     style="margin-top:300px;"> BUY LUXURY </a></form>
              </div>
            </div>
          </div>
        </div>
        <form method="post" action="/shop">
          <input type="hidden" name="category" value="Clothing, Shoes & Accessories:Women\'s Clothing">
          <a class="img-block" onclick="this.parentNode.submit();"><img class="img-responsive" src="/images/pages/index/slider/Banner1.jpg" alt="img"></a>
        </form>
      </div>
      <!-- /.product-slide  -->

      <div class="product-slide">
        <div class="box-content-overly box-content-overly-white">
          <div class="box-text-table">
            <div class="box-text-cell ">
              <!-- <div class="box-text-cell-inner"> -->
              <!--      <div style="background: rgba(255, 255, 255, 0.7);">
                 <h1 style="color: #111; padding-top: 2%;">The latest designer styles</h1>
                       </div> -->
              <!--      <form method="post" action="/shop">
               <input type="hidden" name="category" value="">


             <a class="btn btn-stroke-light"  style="margin-top:300px;" onclick="this.parentNode.submit();" > SHOP NOW</a> </form></div> -->
            </div>
          </div>
        </div>
        <a href="index5.html#"><img class="img-responsive" src="/images/pages/index/slider/Banner2.jpg" alt="img"></a>
      </div>
      <!-- /.product-slide  -->

      <div class="product-slide">
        <div class="box-content-overly box-content-overly-white">
          <div class="box-text-table">
            <div class="box-text-cell ">
              <!--   <div class="box-text-cell-inner"> -->
              <!--         <div style="background: rgba(255, 255, 255, 0.7);">
                    <h1 style="color: #111; padding-top: 2%;">Take back the value in your closet </h1>
                          </div> -->
              <!--  <a class="btn btn-stroke-light" href="/sell" style="margin-top:300px;"> START SELLING NOW</a> </div> -->
            </div>
          </div>
        </div>
        <a href="index5.html#"><img class="img-responsive" src="/images/pages/index/slider/Banner3.jpg" alt="img"></a>
      </div>
      <div style="clear:both;"></div>


    </div>
    <a id="ps-next" class="ps-nav"> <img src="/images/pages/index/slider/arrow-right.png" alt="N E X T"></a>
    <a id="ps-prev" class="ps-nav">
      <img src="/images/pages/index/slider/arrow-left.png" alt="P R E V">
    </a>

    <div style="clear:both"></div>
  </div>
  <!--/.image-show-case-wrapper -->
</div>

<div class="container main-container globalPaddingBottom">

  <div class="row featuredPostContainer">
    <div class="featuredImageLook3 col-lg-12">
      <div class="col-lg-12">
        <br>

        <h3 class="boxes-title-1"><span>SHOP BY PRICE</span></h3>
      </div>


      <div class="col-md-4-modified col-sm-6 col-xs-6 col-xs-min-12">
        <div class="inner">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell ">
                <div class="box-text-cell-inner dark">
                  <form method="post" action="/shop">
                    <input type="hidden" name="price" value="50">

                    <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--/.box-content-overly -->
          <form method="post" action="/shop">
            <input type="hidden" name="price" value="50">
            <a class="img-block" onclick="this.parentNode.submit();">
              <img class="img-responsive" src="/images/pages/index/featured/dress_50.jpg" alt="img"></a></form>
        </div>
      </div>


      <div class="col-md-4-modified col-sm-6 col-xs-6 col-xs-min-12">
        <div class="inner">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell ">
                <div class="box-text-cell-inner dark">
                  <form method="post" action="/shop">
                    <input type="hidden" name="price" value="100">


                    <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a></form>
                </div>
              </div>
            </div>
          </div>

          <!--/.box-content-overly -->
          <form method="post" action="/shop">
            <input type="hidden" name="price" value="100">
            <a class="img-block" onclick="this.parentNode.submit();">
              <img class="img-responsive" src="/images/pages/index/featured/dress_100.jpg" alt="img"></a></form>
        </div>
      </div>


      <div class="col-md-4-modified col-sm-6 col-xs-6 col-xs-min-12">
        <div class="inner">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell ">
                <div class="box-text-cell-inner dark">
                  <form method="post" action="/shop">
                    <input type="hidden" name="price" value="150">


                    <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--/.box-content-overly -->

          <form method="post" action="/shop">
            <input type="hidden" name="price" value="150">
            <a class="img-block" onclick="this.parentNode.submit();">
              <img class="img-responsive" src="/images/pages/index/featured/dress_150.jpg" alt="img"></a></form>
        </div>
      </div>

      <div class="col-md-4-modified col-sm-6 col-xs-6 col-xs-min-12">
        <div class="inner">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell ">
                <div class="box-text-cell-inner dark">
                  <form method="post" action="/shop">
                    <input type="hidden" name="price" value="200">

                    <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--/.box-content-overly -->
          <form method="post" action="/shop">
            <input type="hidden" name="price" value="200">
            <a class="img-block" onclick="this.parentNode.submit();">
              <img class="img-responsive" src="/images/pages/index/featured/dress_200.jpg" alt="img"></a></form>
        </div>
      </div>

      <div class="col-md-4-modified col-sm-6 col-xs-6 col-xs-min-12">
        <div class="inner">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell ">
                <div class="box-text-cell-inner dark">
                  <form method="post" action="/shop">

                    <input type="hidden" name="price" value="250">


                    <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!--/.box-content-overly -->

          <form method="post" action="/shop">
            <input type="hidden" name="price" value="250">

            <a class="img-block" onclick="this.parentNode.submit();">
              <img class="img-responsive" src="/images/pages/index/featured/dress_250.jpg" alt="img"></a></form>
        </div>
      </div>


      <div class="col-md-4-modified col-sm-6 col-xs-6 col-xs-min-12">
        <div class="inner">
          <div class="box-content-overly box-content-overly-white">
            <div class="box-text-table">
              <div class="box-text-cell ">
                <div class="box-text-cell-inner dark">
                  <form method="post" action="/shop">
                    <input type="hidden" name="price" value="500">
                    <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a></form>
                </div>
              </div>
            </div>
          </div>
          <form method="post" action="/shop">
            <input type="hidden" name="price" value="500">
            <a class="img-block" onclick="this.parentNode.submit();">
              <img class="img-responsive" src="/images/pages/index/featured/dress_500.jpg" alt="img"></a></form>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="row featuredPostContainer">
    <div class="featuredImageLook3 col-lg-12">
        <div class="col-lg-12">
        <br>
        <h3 class="boxes-title-1"><span>SHOP NEW</span></h3>
        </div>    
        <div class="col-md-12-modified col-sm-12 col-xs-12 col-xs-min-12">
           <div class="col-md-4-modified col-sm-3 col-xs-3 col-xs-min-12"> 
            </div>
            <div class="col-md-4-modified col-sm-6 col-xs-6 col-xs-min-12">  
              <div class="inner">
                <div class="box-content-overly box-content-overly-white">
                  <div class="box-text-table">
                    <div class="box-text-cell ">
                      <div class="box-text-cell-inner dark">
                        <form method="post" action="/shop">
                        <input type="hidden" name="category" value="Clothing, Shoes & Accessories:Women\'s Clothing:Dresses">
                        <input type="hidden" name="search" value="new">

                        <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a> </form></div>
                    </div>
                  </div>
                </div>
            
               <form method="post" action="/shop">
                        <input type="hidden" name="category" value="Clothing, Shoes & Accessories:Women\'s Clothing:Dresses">
                    <a class="img-block" onclick="this.parentNode.submit();">
                   <img  class="img-responsive" src="/images/pages/index/featured/13.jpg" alt="img"></a>
               </form>
             </div>    
            </div>       
            <div class="col-md-4-modified col-sm-3 col-xs-3 col-xs-min-12">          
           </div>          
        </div>
    </div> 
  </div> -->


  <div class="row featuredPostContainer featured-categories">
    <div class="col-md-12 bg-white">
      <h3 class="boxes-title-1"><span>FEATURED CATEGORIES</span></h3>
    </div>
    <div class="row">
      <div class="col-md-8 featuredImageLook3">
        <div class="col-md-6">
          <div class="inner">
            <div class="box-content-overly box-content-overly-white">
              <div class="box-text-table">
                <div class="box-text-cell ">
                  <div class="box-text-cell-inner dark">
                    <form method="post" action="/shop">
                      <input type="hidden" name="category" value="Clothing, Shoes & Accessories:Women\'s Handbags & Bags">

                      <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="img-title"> Handbags</div>
            <form method="post" action="/shop">
              <input type="hidden" name="category" value="Clothing, Shoes & Accessories:Women\'s Handbags & Bags">

              <a class="img-block" onclick="this.parentNode.submit();">
                <img class="img-responsive" src="/images/pages/index/featured/12.png" alt="img">
              </a>
            </form>
          </div>
        </div>

        <div class="col-md-6">
          <div class="inner">
            <div class="box-content-overly box-content-overly-white">
              <div class="box-text-table">
                <div class="box-text-cell ">
                  <div class="box-text-cell-inner dark">
                    <form method="post" action="/shop">
                      <input type="hidden" name="category" value="Clothing, Shoes & Accessories:Women\'s Shoes">
                      <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a></form>
                  </div>
                </div>
              </div>
            </div>

            <div class="img-title"> Shoes</div>
            <form method="post" action="/shop">
              <input type="hidden" name="category" value="Clothing, Shoes & Accessories:Women\'s Shoes">
              <a class="img-block" onclick="this.parentNode.submit();">
                <img class="img-responsive" src="/images/pages/index/featured/11.png" alt="img"></a></form>
          </div>
        </div>

        <div class="col-md-6">
          <div class="inner">
            <div class="box-content-overly box-content-overly-white">
              <div class="box-text-table">
                <div class="box-text-cell ">
                  <div class="box-text-cell-inner dark">
                    <form method="post" action="/shop">
                      <input type="hidden" name="category" value="Clothing, Shoes & Accessories:Women\'s Clothing">
                      <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!--/.box-content-overly -->

            <div class="img-title">Top Designers</div>
            <form method="post" action="/shop">
              <input type="hidden" name="category" value="Clothing, Shoes &amp; Accessories:Women\'s Clothing">
              <a class="img-block" onclick="this.parentNode.submit();">
                <img class="img-responsive" src="/images/pages/index/featured/1.png" alt="img"></a></form>
          </div>
        </div>

        <div class="col-md-6">
          <div class="inner">
            <div class="box-content-overly box-content-overly-white">
              <div class="box-text-table">
                <div class="box-text-cell ">
                  <div class="box-text-cell-inner dark">
                    <form method="post" action="/shop">
                      <input type="hidden" name="search" value="jeans">

                      <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a></form>
                  </div>

                </div>
              </div>
            </div>
            <!--/.box-content-overly -->
            <div class="img-title"> Designer Denim</div>
            <form method="post" action="/shop">

              <input type="hidden" name="search" value="jeans">
              <a class="img-block" onclick="this.parentNode.submit();">
                <img class="img-responsive" src="/images/pages/index/featured/8.png" alt="img"></a></form>
          </div>
        </div>
      </div>

      <div class="col-md-4 featuredImageLook3">
        <div class="col-md-12">
          <div class="inner">
            <div class="box-content-overly box-content-overly-white">
              <div class="box-text-table">
                <div class="box-text-cell ">
                  <div class="box-text-cell-inner dark">
                    <form method="post" action="/shop">

                      <input type="hidden" name="search" value="top">


                      <a class="btn btn-inverse" onclick="this.parentNode.submit();"> SHOP NOW</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!--/.box-content-overly -->

            <form method="post" action="/shop">

              <input type="hidden" name="search" value="top">

              <div class="img-title"> Trendy Tops</div>
              <a class="img-block" onclick="this.parentNode.submit();">
                <%= image_tag 'pages/index/featured/top_trends.png', class: 'img-responsive', alt: '' %>
              </a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="width100 section-block">
  </div>
</div>
<!-- /main container -->

</div>

<!--/.parallax-section-->
<script src="/assets/js/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    $(document).ready(function () {
        if (jQuery.cookie('pop') == null) {
            jQuery('#myModal').modal('show');
            jQuery.cookie('pop', '7');
        }
    });
</script>


<%= render 'layouts/footer' %>
</body>
</html>
