<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Fav and touch icons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="http://demo.tanimdesign.net/template/tshop-v1.2/html/ico/apple-touch-icon-57-precomposed.png">

<link rel="shortcut icon" href="/assets/ico/favicon.png">
<title>All For Funds - Designer Items for Less</title>
<!-- Bootstrap core CSS -->
<link href="/assets/bootstrap/css/bootstrap.css" rel="stylesheet">
<!-- add theme styles for this template -->
<link id="pagestyle" rel="stylesheet" type="text/css" href="/assets/css/skin-1.css">

<!-- Custom styles for this template -->
<link href="/assets/css/style.css" rel="stylesheet">

<!-- css3 animation effect for this template -->
<link href="/assets/css/animate.min.css" rel="stylesheet">

<!-- styles needed by carousel slider -->
<link href="/assets/css/owl.carousel.css" rel="stylesheet">
<link href="/assets/css/owl.theme.css" rel="stylesheet">

<!-- styles needed by checkRadio -->
<link href="/assets/css/ion.checkRadio.css" rel="stylesheet">
<link href="/assets/css/ion.checkRadio.cloudy.css" rel="stylesheet">

<!-- styles needed by mCustomScrollbar -->
<link href="/assets/css/jquery.mCustomScrollbar.css" rel="stylesheet">
    
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
   
    
    <!-- styles needed by swiper slider -->
<link href="/assets/css/idangerous.swiper.css" rel="stylesheet">
    
    



<!-- Just for debugging purposes. -->
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->  

<!-- include pace script for automatic web page progress bar  -->

 <script>
    paceOptions = {
      elements: true
    };
</script>

<script src="/assets/js/pace.min.js"></script>
  
<style>
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}
</style>    
    </head>

<body>

<!-- Modal Login start -->
<%= render 'layouts/login' %>
<!-- /.Modal Login --> 

<!-- Modal Signup start -->
<%= render 'layouts/signup' %>
  <!-- /.modal-dialog --> 
  
</div>

<!-- Fixed navbar start -->
<%= render 'layouts/nav' %>
<!-- /.Fixed navbar  -->
<div class="container main-container headerOffset"> 
  
  <!-- Main component call to action -->
   <% if @selected_categories.first != nil then %>
  <div class="row">
    <div class="breadcrumbDiv col-lg-12">
      <ul class="breadcrumb">

        <li> Showing Results In: <%= @selected_categories.first.title %><a href="/shop"> <button class="btn btn-xs">Clear </button> </a> </li>
        
      </ul>
    </div>
  </div>
  <!-- /.row  -->
  <% end %>

  <% if @current_query != nil then %>
  <div class="row">
    <div class="breadcrumbDiv col-lg-12">
      <ul class="breadcrumb">

        <li> Showing Results For <%= @current_query %> <a href="/shop"> <button class="btn btn-xs">Clear </button> </a> </li>
        
      </ul>
    </div>
  </div>
  <!-- /.row  -->
  <% end %>
  <div class="row"> 
    
    <!--left column-->
    
    <div class="col-lg-3 col-md-3 col-sm-12">
      <div class="panel-group" id="accordionNo"> 
        <!--Category-->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"> <a data-toggle="collapse"  href="category.html#collapseCategory" class="collapseWill"> <span class="pull-left"> <i class="fa fa-caret-right"></i></span> Category </a> </h4>
          </div>
          <div id="collapseCategory" class="panel-collapse collapse in">
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked tree">
                <% @categories.keys.each do |category| %>
                  <% count = 0 %>
                  <% Category.where("title LIKE ?", "Clothing, Shoes & Accessories:#{category}%").each do |c| %>
                    <% count += c.items.count %>
                  <% end %>
                  <% if @selected_categories.first == nil %>
                    <li class="active dropdown-tree open-tree"> 
                   <%= form_tag('/shop', method: "post") do %>
                      <%= hidden_field_tag "category", "Clothing, Shoes & Accessories:#{category}" %>
                      <a onclick="this.parentNode.submit();" class="dropdown-tree-a" > <span class="badge pull-right"><%= count %></span> <%= category %></a>
                     <% end %>
                      <ul class="category-level-2 dropdown-menu-tree">
                        <% @categories[category].each do |sub_category| %>
                        <%= form_tag('/shop', method: "post") do %>
                          <%= hidden_field_tag "category", "Clothing, Shoes & Accessories:#{category}:#{sub_category}" %>
                          <li onclick="this.parentNode.submit();"> <a> <%= sub_category %> </a></li>
                        <% end %>
                        <% end %>
                      </ul>
                    </li>
                  <% else %>
                    <% if @selected_categories.first.title.include? category then %>
                      <li class="active dropdown-tree open-tree" > <a  class="dropdown-tree-a" > <span class="badge pull-right"><%= count %></span> <%= category %></a>
                        <ul class="category-level-2 dropdown-menu-tree">
                          <% @categories[category].each do |sub_category| %>
                            <%= form_tag('/shop', method: "post") do %>
                            <%= hidden_field_tag "category", "Clothing, Shoes & Accessories:#{category}:#{sub_category}" %>
                            <li> <a onclick="this.parentNode.parentNode.submit();"> <%= sub_category %> </a></li>
                            <% end %>
                          <% end %>
                        </ul>
                      </li>
                    <% else %>
                      <%= form_tag('/shop', method: "post") do %>
                        <%= hidden_field_tag "category", "Clothing, Shoes & Accessories:#{category}" %>
                        <a onclick="this.parentNode.submit();" class="dropdown-tree-a" > <span class="badge pull-right"><%= count %></span> <%= category %></a>
                      <% end %>
                    <% end %>
                <% end %> 
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!--/Category menu end-->


        <div class="aspect-holder panel">
        <% @aspects.keys.each do |aspect| %>
          <div class="aspect-panel panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"> <%= aspect %> <span class="pull-left"> </span></h4>
            </div>
            <div id="collapseBrand" class="panel-collapse collapse in">
              <div class="panel-body maxheight200" style="overflow-y: auto;">
                <% @aspects[aspect].each do |value| %>
                <div class="block-element">
                    <label><input class="aspect-value" type="checkbox" name="<%= aspect %>" value="<%= value %>" /> <%= value %></label>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
    
    <!--right column-->
    <div class="col-lg-9 col-md-9 col-sm-12">
      <div class="w100 clearfix category-top">
        <h2> SHOP</h2>
        
      </div>
      <!--/.category-top-->

      
      


      <div class="w100 productFilter clearfix">
       
        <div class="pull-right ">
          <div class="change-order pull-right">
            <select class="sort-by form-control" name="orderby">
             <option value="1">Sort by popularity</option>
              <option selected="selected" value="2">Sort by newness</option>
              <option value="4">Sort by price: low to high</option>
              <option value="3">Sort by price: high to low</option>
            </select>
          </div>
          <div class="change-view pull-right"> <a href="category.html#" title="Grid" class="grid-view"> <i class="fa fa-th-large"></i> </a> <a href="category.html#" title="List" class="list-view "><i class="fa fa-th-list"></i></a> </div>
        </div>
      </div>
      <!--/.productFilter-->

      <div id="itemsBody" class="row  categoryProduct xsResponse clearfix">
      <% @items.each do |item| %>
        <div class="item item-<%= item.id %> col-sm-4 col-lg-4 col-md-4 col-xs-6">
            <div class="product">

              
              <a class="add-fav tooltipHere<% if @is_in_wishlist then %> active <% end %>" data-toggle="tooltip" data-original-title="Add to Wishlist" data-placement="left"   <% if @is_in_wishlist then %>
  onclick="removefromwishlist(<%= item.id %>)"
  <% else %> onclick="addtowishlist(<%= item.id %>); this.className='add-fav tooltipHere selected'" <% end %>>
             

              <% if current_user == nil then %>
              <a class="add-fav tooltipHere" data-original-title="Add to Wishlist" data-placement="left" href="#" data-toggle="modal" data-target="#ModalSignup">
              <% end %>

          <i class="glyphicon glyphicon-heart"></i>

          </a>
            <% if item.photos[0] != nil then %>
              <div class="image"><a href="http://allforfunds.com/<%= item.url %>"><img src=<%= item.photos[0].url %> alt="img" class="img-responsive"></a>
              </div>
            <% end %>
              <div class="description">
                <h4><a href="http://allforfunds.com/<%= item.url %>"><%= item.title %></a></h4>
<!--                 <div class="grid-description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                </div> -->
               <!--  <span class="size">XL / XXL / S </span> --> </div>
              <div class="price"> <span><%= number_to_currency(item.price) %></span> </div>
              <% in_cart = false %>
              <% if @cart != nil then %>
                <% if @cart.items.include? item then %>
                  <% in_cart = true %>
                <% end %>
              <% end %>

              <% if current_user == nil then %>
              <div class="action-control add-to-cart-<%= item.id %>" <% if in_cart then %> style="display: none;" <% end %>><a class="btn btn-primary" data-toggle="modal" data-target="#ModalSignup"><span class-"add2cart"> Add To Cart </span> </a></div>
              <div class="action-control remove-from-cart-<%= item.id %>" <% if !in_cart then %> style="display: none;" <% end %>><a onclick="removefromcart(<%= item.id %>);" class="btn btn-primary"><span class-"add2cart active"> Remove From Cart </span> </a></div>
            </div>
          </div>
              <% else %>

              <div class="action-control add-to-cart-<%= item.id %>" <% if in_cart then %> style="display: none;" <% end %>><a onclick="addtocart(<%= item.id %>);" class="btn btn-primary"><span class-"add2cart"> Add To Cart </span> </a></div>
              <div class="action-control remove-from-cart-<%= item.id %>" <% if !in_cart then %> style="display: none;" <% end %>><a onclick="removefromcart(<%= item.id %>);" class="btn btn-primary"><span class-"add2cart active"> Remove From Cart </span> </a></div>
            </div>
          </div>
          <% end %>
      <% end %>
      <h4 id="no-items" <% if @items.count > 0 then %> hidden <% end %>> No Products Found </h4>
      </div>

      <!--/.categoryProduct || product content end-->
      
     
      <!--/.categoryFooter--> 
    </div>
    <!--/right column end--> 
  </div>
  <!-- /.row  --> 
</div>
<!-- /main container -->

<div class="gap"> </div>
<% render 'layouts/footer' %>
<script>

  all_possible_item_ids = []
  <% @items.each do |i| %>
    all_possible_item_ids.push(<%= i.id %>);
  <% end %>

  addtocart = function(id) {
    $.ajax({url: "/cart/add",
      dataType: "json",
      data: "item_id=" + id,
      type: "post",
      success: function(result) {
        $(".add-to-cart-"+id).hide();
        $(".remove-from-cart-"+id).show();
      }});
  }

  removefromcart = function(id) {
    $.ajax({url: "/cart/remove",
      dataType: "json",
      data: "item_id=" + id,
      type: "post",
      success: function(result) {
        $(".add-to-cart-"+id).show();
        $(".remove-from-cart-"+id).hide();
      }});
  }

  removefromwishlist = function (id) {
          $.ajax({url: "/wishlist/remove",
          dataType: "json",
          data: "item_id=" + id,
          type: "post",
          success: function(result) {
            $(".add-to-wishlist").show();
            $(".remove-from-wishlist").hide();
          }});

      }

      addtowishlist = function(id) {
          $.ajax({url: "/wishlist/add",
          dataType: "json",
          data: "item_id=" + id,
          type: "post",
          success: function(result) {
            $(".add-to-wishlist").hide();
            $(".remove-from-wishlist").show();
          }});

      }


window.onload=function() {
  document.getElementById("loginForm").onsubmit=function() {
    var val1 = this.field1.value;
    if (val1=="") {
      alert('Field1 cannot be empty');
      this.field1.focus();
      return false;
    }
    // return true to submit, return false to stay on the page.
    return true; 
  }
}

 


 $(document).ready(function(){

$("#loginForm").submit(function(e) {

$.ajax({
       type: "POST",
       url : "/users/sign_in",
       data: $("#loginForm").serialize(), // serializes the form's elements.
       success: function(data)
       {
           alert('Posting!');
            $('.navigation').load('/application_controller/login');
            e.preventDefault();
            return;
       }
     });
     
});

});
  

$( ".aspect-holder" ).on("click", ".aspect-value", function() { 
  var names = [];
  var values = [];
  var ids = [];
  var keep_elements = [];
  for(var i = 0; i < $("input:checked.aspect-value").length; i++) {
    names.push("" + $("input:checked.aspect-value")[i].name);
    values.push("" + $("input:checked.aspect-value")[i].value);
  }

  $.ajax({url: "/shop/aspect", 
    dataType: "json",
    data: {aspects: names, values: values, ids: all_possible_item_ids}, 
    type: "post",
    success: function(result){
      $(".item").hide();
      for(var i = 0; i < result["items"].length; i++){
        $(".item-"+result["items"][i]).show();
      } 

      $(".aspect-panel").not($(".aspect-panel").has("input:checked.aspect-value")).remove();


      for(var i = 0; i < Object.keys(result["aspects"]).length; i++) {
        var aspect = Object.keys(result["aspects"])[i];

        if (names.indexOf(aspect) != -1){
            continue;
        }

        var container = document.createElement("div");
        container.className = "aspect-panel panel panel-default";
        container.setAttribute("id", "aspect-container-" + i);
        $(".aspect-holder").append(container);
        $("#aspect-container-" + i).append('<div class="panel-heading"><h4 class="panel-title">' + aspect + '<span class="pull-left"> </span></h4></div>');

        var value_precontainer = document.createElement("div");
        value_precontainer.className = "panel-collapse collapse in";
        value_precontainer.setAttribute("id", "collapseBrand");
        $("#aspect-container-" + i).append(value_precontainer);

        var value_container = document.createElement("div");
        value_container.className = "panel-body smoothscroll";
        value_container.setAttribute("id", "value-container-"+ i);
        value_precontainer.appendChild(value_container);

        for(var a = 0; a < result["aspects"][aspect].length; a++)
        {
          $("#value-container-"+ i).append('<div class="block-element"><label><input class="aspect-value" type="checkbox" name="'+ aspect + '" value="' + result["aspects"][aspect][a] + '" />' + result["aspects"][aspect][a] + '</label></div>');
        }

      }

      if( $(":visible.item").length == 0) {
        $("#no-items").show();
      } else { 
        $("#no-items").hide();
      }

      document.body.scrollTop = document.documentElement.scrollTop = 0;
    }});
  });

  $(".sort-by").change(function() {
    $.ajax({url:"/shop/sort",
          dataType: "json",
          data: "sort_by=" + this.value,
          type: "post",
          success: function (result) {
            for(var i = 0; i < result["items"].length; i++) {
              $(".item-"+result["items"][i]).prependTo("#itemsBody");
            }
          }});
  });

</script>
<%= render 'layouts/footer' %>
</body>
</html>